; @see https://en.wikipedia.org/wiki/INI_file

;npm specific
always-auth=false
registry=https://registry.npmjs.org/
save-exact=true

; pnpm specific
; @see https://pnpm.io/npmrc
; pnpm registry settings
fetch-retries=0
fetch-retry-maxtimeout=60000
fetch-retry-mintimeout=10000
fetch-timeout=60000

; pnpm hoist
; all local build dependencies
hoist=true
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=*webpack*
public-hoist-pattern[]=*babel*
public-hoist-pattern[]=*flow*
; pnpm node-modules settings
; @see https://yarnpkg.com/features/pnp
store-dir=.pnpm-store
modules-dir=node-modules
;node-linker
symlink=true
enable-modules-dir=true
virtual-store-dir=node_modules/.pnpm
package-import-method=clone
;48 hours they delete orphan packages
modules-cache-max-age=2880

; pnpm lockfile settings
lockfile=true
prefer-frozen-lockfile=true

; pnpm cli settings
color=auto
loglevel=info
strict-peer-dependencies=false
use-beta-cli=true
; use pnpm install -r to specifically run install in all workspace pkgs
; however by default we are going to let dry handle workspace pkg installs
recursive-install=false
engine-strict=true
child-concurrency=16
; let pnpm set this dynamically
; unsafe-perm=false
use-running-store-server=false
tag=latest
; pnpm will pick up path from nvm install location
;gobal-dir
; pnpm will pick up version installed via nvm
;use-node-version
use-stderr=false
; testing these CLI options can be set via config
prefer-offline=true
